<mat-card class="main-card">
  <app-alert class="card"></app-alert>
  <h1>grocery bud</h1>
  <app-item-add-form
    (newItem)="addItem($event)"
    (editedItem)="submitEditedItem($event)"
  ></app-item-add-form>
  <div *ngFor="let item of items">
    <app-single-item
      [item]="item"
      (editItem)="edit($event)"
      (deletedItem)="deleteItem($event)"
    ></app-single-item>
  </div>
  <app-clear-all-items
    *ngIf="itemsNotEmpty()"
    (clearAll)="clearAll($event)"
  ></app-clear-all-items>
</mat-card>
