/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0;  } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(74, 69, 69, 0.2);
}
